.App {
  background-image: url('https://community.aws/_next/image?url=https%3A%2F%2Fcommunity.aws%2Fraw-post-images%2Fconcepts%2Fdevops-essentials%2Fimages%2Fdevops_loop.jpeg%3FimgSize%3D1600x960&w=1920&q=75');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, sans-serif;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #00FF00; /* Bright green */
}
.devops-icon {
  width: 100px;
  height: 100px;
}

